<% if flash[:alert].present? %>
  <div class="alert">
    <p style="color: red;"><%= flash[:alert] %></p>
  </div>
<% elsif flash[:notice].present? %>
  <div class="notice">
    <p style="color: blue;"><%= flash[:notice] %></p>
  </div>
<% end %>
