<% if flash[:alert].present? %>
  <div class="alert flash">
    <p><%= flash[:alert] %></p>
  </div>
<% elsif flash[:notice].present? %>
  <div class="notice flash">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
